<footer class="bg-dark text-center page-footer">
    <div class="text-center div-footer p-3">
      <a href="https://twitter.com/monkey_esport" target="_blank">
        <em class="fab fa-twitter"></em>
      </a>
      <a href="https://www.twitch.tv/tacticalmonkeyesport" target="_blank">
        <em class="fab fa-twitch"></em>
      </a>
      <a href="https://discord.com/invite/xrqADwX" target="_blank">
        <em class="fab fa-discord"></em>
      </a>
      <a href="https://www.facebook.com/Tactical-Monkey-Esport-TMS-108125480945532" target="_blank">
        <em class="fab fa-facebook"></em>
      </a>
      <a href="https://www.instagram.com/tacticalmonkeyesport/" target="_blank">
        <em class="fab fa-instagram"></em>
      </a>
      <br/>
      © 2021 Copyright : Floliroy
    </div>
</footer>