<footer class="bg-dark text-center page-footer">
    <div class="text-center div-footer p-3">
      <a href="https://twitter.com/monkey_esport" target="_blank">
        <em class="fa fa-twitter"></em>
      </a>
      <a href="https://www.facebook.com/Tactical-Monkey-Esport-TMS-108125480945532" target="_blank">
        <em class="fa fa-facebook-square"></em>
      </a>
      <a href="https://www.instagram.com/tacticalmonkeyesport/" target="_blank">
        <em class="fa fa-instagram"></em>
      </a>
      <br/>
      © 2021 Copyright : Floliroy
    </div>
</footer>