<link rel="stylesheet" type="text/css" href="./styles/footer.css" />

<footer class="bg-dark text-center page-footer">
    <div class="text-center p-3">
      © 2021 Copyright : Floliroy
    </div>
</footer>