<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>TMS</title>

    <link rel="icon" type="image/png" href="./logo.png" />
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script type="text/javascript" src="./dynamic.js" defer></script>
</head>
<div class="loader"></div>
<body data-barba="wrapper">
    <%-include("header")%>
    <br/>

    <div id="main" data-barba="container">
        <%-include(`../pages/${body}`)%>
    </div>

    <br/>
    <%-include("footer")%>
</body>
</html>