<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>TMS</title>

    <link rel="icon" type="image/png" href="./logo.png" />
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body class="{{theme}}Theme">
    {{> header}}
    <br/>

    <div id="main">
        {{{body}}}
    </div>
    
    <br/>
    {{> footer}}
</body>
</html>