<h1>Projet E-Sport</h1>

<h2>TMS Cup</h2>
Un tournoi mensuel avec 50 euros de cashprize ouvert à 128 joueurs, développé avec des joueurs semi-professionels.<br/>
Le tournoi est cast par 2 membres de l'association et stream en parallèle sur toutes les chaines des streamers francais TFT les plus connus.<br/>

<h2>Tournoi physique</h2>
Évènement exceptionnel en partenariat avec la ville hébergeante ouvert à 128 joueurs sur un week-end entier.<br/>
Environ 300 personnes (joueurs et spectateurs) sur place. Billeterie mise en place en ligne, en amont.<br/>
<i>Projet mis entre paranthèses suite à la crise sanitaire actuelle</i><br/>

<h2>Exposition</h2>
Évènement exceptionnel en partenariat avec la ville et le département hébergeants ouvert à tous sur un week-end entier<br/>
<i>Projet mis entre paranthèses suite à la crise sanitaire actuelle</i><br/>

<h2>Championnat du monde</h2>
Les 40 premiers sur le serveur européen, à la fin du mois de février, seront invités aux phases qualificatives européennes pour se disputer 
les 6 places disponibles en finale mondiale.<br/>

<br/><br/><br/>

<h1>Projets Associatifs</h1>

<h2>Pôle de coaching</h2>
Ayant une communauté qui se développe de plus en plus, l'association souhaite être au plus proche de cette dernière.<br/>
Pour cela, nous allons recruter de nouveaux membres afin de coacher toute personne le souhaitant et faire découvrir le jeu à tous.<br/>

<h2>Pôle de sensibilisation et prévention</h2>
En tant que joueurs passionnés nous souhaitons partager nos expériences autour des jeux videos, qu'elles soient bonnes ou mauvaises.<br/>
Comme toute addiction, le meilleur moyen de l'éviter est la prévention, c'est pour cela que nous travaillons avec la FFJV (Fédération Francaise de Jeu Vidéo) et
Pédagojeu afin d'intervenir dans les écoles, collèges et lycées de France.<br/>