<h1 class="pt-5 pb-5">Nos Réseaux</h1>

<div class="row">
    <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="p-3">
                <a href="https://twitter.com/monkey_esport" target="_blank">
                    <img src="./images/reseaux/twitter.png" width="120px" class="img-fluid clickable rounded-circle" alt="Logo Twitter"/>
                </a>
            </div>
            <div class="p-3">
                <a href="https://www.facebook.com/Tactical-Monkey-Esport-TMS-108125480945532" target="_blank">
                    <img src="./images/reseaux/facebook.png" width="120px" class="img-fluid clickable rounded-circle" alt="Logo Facebook"/>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
        <div class="row d-flex justify-content-center">
            <div class="p-3">
                <a href="https://discord.gg/xrqADwX" target="_blank">
                    <img src="./images/reseaux/discord.png" width="120px" class="img-fluid clickable rounded-circle" alt="Logo Discord"/>
                </a>
            </div>
            <div class="p-3">
                <a href="https://www.twitch.tv/tacticalmonkeyesport" target="_blank">
                    <img src="./images/reseaux/twitch.png" width="120px" class="img-fluid clickable rounded-circle" alt="Logo Twitch"/>
                </a>
            </div>
        </div>
    </div>
</div>

<br/><br/><br/>

<h1 class="pt-5 pb-5">Nos Affiliations</h1>

<div class="row">
    <div class="col-md-4 p-2 text-center">
        <a href="https://www.ffjv.org/" target="_blank">
            <img src="https://cdn.eu.yapla.com/company/CPYlUj2mphVeta6PxY1vSoTN3/account/et5jjwhxsaa8rzw-1593788810.jpg" class="img-fluid rounded" alt="Logo FFJV"/>
            <br/>
            Plus d'informations&#x2398;
        </a>
    </div>
    <div class="col-md-8 p-2">
        La Fédération Française de Jeu Vidéo (FFJV) a été créée en 2013 dans le but de rassembler et de fédérer l'ensemble des acteurs du jeu vidéo français, 
        notamment ceux de l'eSport (Electronic Sport). Avec plusieurs milliers de licenciés, des échanges et rendez-vous en cours avec le ministère de la 
        culture, la mise en place de conférences scolaires sur les dangers de l’eSport et de l’addiction aux jeux vidéos, le traitement de demandes par centaines 
        d’organisations d’événements partout en France, la mission de la FFJV ne se résume pas aux seules aides suscitées par les ligues et les clubs qui lui 
        sont affiliés. Elle se doit également de tenir informer, d’accompagner, et de représenter, tous ses licenciés auprès des principaux acteurs du monde du 
        jeu vidéo. Par ailleurs, elle met en place les finales nationales des différentes disciplines qu’elle soutient.
        <br/><br/>
        <em>Source: <a href="https://fr.jobs.game/entreprise-federation-francaise-de-jeu-video-ffjv-1776/" target="_blank">fr.jobs.game</a></em>
    </div>
</div>

