<h1 class="pt-5 pb-5">Notre Histoire</h1>

<h2 class="m-3">18 juin 2020 :</h2>
Deux macaques et trois jeunes singes prometteurs décident de créer la tribu Tactical Monkey eSport, au centre de la jungle de l'esport.<br/>
Nos cinq singes décident d'explorer cette jungle du côté de la rivière nommée : Teamfight Tactics.<br/>
<br/>
En explorant ce côté de la jungle, nos singes gagnent des tournois contre d'autres tribus, ralliant également de nouvelles troupes, pour agrandir la famille. Nos singes commencent à filmer leurs exploits et 
à les diffuser. La tribu se fait ainsi de nombreux alliés, et peut donc gambader dans la zone de la rivière Teamfight Tactics sans encombres.<br/><br/>

<h2 class="m-3">3e saison :</h2>
Il fait chaud, nos jeunes singes ont grandi, et sont maintenant tous au minimum diamant. Ils gagnent la plupart des tournois auxquels ils participent. Les vieux macaques, avec l'aide de certains singes, 
ont même organisé leur tournoi, pour tester les singes rivaux. Les singes passent leurs journées à s'entraîner, en se battant en duel avec différents types d'armes aussi astucieuses les unes que les autres. 
La tribu TMS compte à ce jour 25 singes.<br/><br/>

<h2 class="m-3">5e saison :</h2>
Tous les singes ont bien grandi, atteignant pour la plupart la taille Grand Master et Challenger. 
Certains ont décidé d'arrêter de s'entraîner pour aider les macaques à gérer la tribu; d'autres préfèrent commencer à entraîner de tout petits singes s'étant perdus dans la vaste forêt.<br/>
Maintenant que la tribu a bien exploré la jungle du côté de la rivière Teamfight Tactics, elle commence à chercher de nouvelles contrées. Que ce soit vers la plaine Rocket League, l'à-pic de League of Legends ou les marécages de Valorant.<br/>

<br/><br/><br/>

<h1 class="pt-5 pb-5">Nos Affiliations</h1>

<div class="row">
    <div class="col-md-4 p-2 text-center">
        <a href="https://www.ffjv.org/" target="_blank">
            <img src="https://cdn.eu.yapla.com/company/CPYlUj2mphVeta6PxY1vSoTN3/account/et5jjwhxsaa8rzw-1593788810.jpg" class="img-fluid rounded" alt="Logo FFJV"/>
            <br/>
            Plus d'informations&#x2398;
        </a>
    </div>
    <div class="col-md-8 p-2">
        La Fédération Française de Jeu Vidéo (FFJV) a été créée en 2013 dans le but de rassembler et de fédérer l'ensemble des acteurs du jeu vidéo français, 
        notamment ceux de l'eSport (Electronic Sport). Avec plusieurs milliers de licenciés, des échanges et rendez-vous en cours avec le ministère de la 
        culture, la mise en place de conférences scolaires sur les dangers de l’eSport et de l’addiction aux jeux vidéos, le traitement de demandes par centaines 
        d’organisations d’événements partout en France, la mission de la FFJV ne se résume pas aux seules aides suscitées par les ligues et les clubs qui lui 
        sont affiliés. Elle se doit également de tenir informer, d’accompagner, et de représenter, tous ses licenciés auprès des principaux acteurs du monde du 
        jeu vidéo. Par ailleurs, elle met en place les finales nationales des différentes disciplines qu’elle soutient.
        <br/><br/>
        <em>Source: <a href="https://fr.jobs.game/entreprise-federation-francaise-de-jeu-video-ffjv-1776/" target="_blank">fr.jobs.game</a></em>
    </div>
</div>

