<h1 class="pt-5 pb-5">Tactical Monkey eSport</h1>

<h2 class="m-3">18 juin 2020 :</h2>
Deux macaques trois jeunes singes prometteurs décident de créer la tribu Tactical Monkey eSport, au centre de la jungle de l'esport.<br/>
Nos cinq singes décident d'explorer la jungle du côté de la rivière nommée : Teamfight Tactics.<br/>
<br/>
En explorant ce côté de le jungle, nos singes gagnent des tournois contre d'autres tribus, ralliant également de nouvelles troupes, pour agrandir la famille. 
Nos singes commencent à filmer leurs exploits et à les diffuser. La tribu c'est fait de nombreux alliés, et peut donc gambader dans la zone de la rivière Teamfight Tactics sans encombres.<br/><br/>

<h2 class="m-3">3e saison :</h2>
Il fait chaud, nos jeunes singes ont grandi, et sont maintenant tous au minimum diamant. Les jeunes singes gagnent la plupart des tournois auxquels ils participent. 
Les vieux macaques, avec l'aide de certains singes, ont même organisé leur tournoi, pour tester les singes rivaux. 
Les singes passent leurs journées à s'entraîner, en se battant en duel avec différents types d'armes aussi astucieux les uns que les autres. La tribu TMS compte à ce jour 25 singes.<br/><br/>

<h2 class="m-3">5e saison :</h2>
Tous les singes ont bien grandi, atteignant pour la plupart la taille Grand Master et Challenger. 
Certains ont décidé d'arrêter de s'entraîner pour aider les macaques à gérer la tribu; d'autres préfèrent commencer à entraîner de tout petits singes s'étant perdus dans la vaste forêt.<br/>
Maintenant que la tribu à bien exploré la jungle du côté de la rivière Teamfight Tactics, elle commence à chercher vers la plaine Rocket League, l'à-pic de League of Legends ou les marécages de Valorant.<br/>