<h1>Recrutement</h1>

<br/>
<table>
    <tr>
        <td>
            <h2>Informations</h2>

            La Tactical Monkey eSport <strong>RECRUTE</strong><br/>
            Plusieurs profils sont recherchés :<br/>
            <ul>
                <li>des joueurs minimum <strong>Master</strong>, ayant la possibilité de stream sur la WebTV</li>
                <li>des joueurs minimum <strong>GrandMaster</strong></li>
                <li>des membres intéressés par le développement la structure et souhaitant intégrer l'équipe de <strong>Staff</strong></li>
            </ul>
            
            <br/>
            
            <h2>Contact</h2>
            
            Pour plus d'informations ou bien pour candidater vous pouvez nous retrouver sur <a href="https://discord.gg/xrqADwX" target="_blank">Discord&#x2398;</a><br/>
            Ou bien directement contacter l'un de nos deux fondateurs : 
            <a href="https://discordapp.com/users/371663957666168847/" target="_blank">Zyguan&#x2398;</a> 
            ou 
            <a href="https://discordapp.com/users/190582445324763137/" target="_blank">Shuku&#x2398;</a><br/>
        </td>
        <td>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <img src="./images/recrutement.png" class="center" width="400px"/>
        </td>
    </tr>
</table>