<h1 class="pt-5 pb-5">Stream Twitch</h1>

<link rel="stylesheet" type="text/css" href="./styles/twitch.css" />
<div class="twitch">
    <div class="twitch-video">
        <iframe frameborder="0" scrolling="no" allowfullscreen="true"height="100%" width="100%"
            src="https://player.twitch.tv/?channel=nemaidestft&parent=nemacup.fr" title="Stream">
        </iframe>
    </div>
    <div class="twitch-chat">
        <iframe frameborder="0" scrolling="no" height="100%" width="100%"
            src="https://www.twitch.tv/embed/nemaidestft/chat?darkpopout&parent=nemacup.fr" title="Chat">
        </iframe>
    </div>
</div>

<br/><br/><br/>

<h1 class="pt-5 pb-5">Planning de la Semaine</h1>
<img class="planning" src="/planning" width="100%" alt="Planning"/>