footer{
    border-top: 2px solid slategrey;
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1.5em 0 1.5em 0;
    text-align: center;
    background-color: rgb(47,49,54);
}