header{
    position: fixed;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
    padding: 1.5em 0 1.5em 0;
    border-bottom: 2px solid slategrey;
    background-color: rgb(47,49,54);
}

header a{
    color: inherit;
    margin: 0 15px 0 15px;
    text-decoration: none;
    position: relative;
}

header a::after{
    content: ' ';
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 0.2s;
    background: rgb(248,126,43);
}

header a:hover::after{
    width: 100%;
    transition: width 0.2s;
}