/** General */
:root{
    --primary-color: #c36e00;
    --black-color: black;
    --white-color: white;
}
html{
    height: 100%;
    margin: 0;
}
@font-face {
    font-family: 'ChineseRocksRg-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('ChineseRocksRg-Regular'), url('../fonts/chinese rocks rg.woff') format('woff');
}

body{
    background: url(/images/wallpaper.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    font-family: 'Segoe UI', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 393px;
}

.loader {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 200vh;
    background-size: 100vw 200vh;
    pointer-events: none;
    background-image: url("../images/transition.png");
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

/** Header */
.bg-dark{
    background-color: var(--black-color) !important;
}
nav{
    font-size: x-large;
    z-index: 1;
    margin-top: -5px;
}

.navbar-nav:not(.show){
    margin-left: auto;
}
.navbar-dark .navbar-toggler{
    border-color: var(--white-color);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

nav ul li a.nav-link, nav ul li a.nav-link:after,nav ul li a.nav-link:before {
    color: var(--white-color) !important;
    transition: all .5s;
    margin: 0 5px 0 0;
}
nav ul li a.nav-link:hover {
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}

.dropdown .dropdown-menu-dark{
    background-color: #080808;
}
@media screen and (min-width: 992px) {
    .dropdown .dropdown-menu-dark{
        width: 190px;
    }
}
.dropdown .dropdown-menu-dark a{
    color: var(--white-color);
}
.dropdown-item.active{
    background-color: var(--primary-color) !important;
}
.dropdown .dropdown-menu-dark a:hover{
    background-color: var(--white-color) !important;
    color: #080808;
    font-weight: bold;
}

/** Main */
h1{
    font-family: 'ChineseRocksRg-Regular';
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-size: 4rem;
}

h2{
    border-left: 5px solid var(--primary-color);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    padding: 0.2em 0 0.2em 0.3em;
    margin-left: -0.2em;
}

button.button{
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    border-color: var(--primary-color);
    padding: 0;
}

img.clickable{
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
    transition: transform 0.5s;
}
img.clickable:hover {
    transform: scale(1.2);
}

a:not(.nav-link, .dropdown-item){
    color: var(--primary-color) !important;
}
a:hover{
    text-decoration: none !important;
}

.fab{
    color: var(--white-color);
    font-size: x-large;
    font-weight: normal;
}

.top1 {
    color: var(--primary-color);
    font-weight: bolder;
}

/** Data tables */
.table-dark > thead{
    background: none !important;
    background-color: var(--black-color) !important;
}
.dataTables_length, .dataTables_filter, .dataTables_paginate, .dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_info, #tableResultats_previous, #tableResultats_next, select[name="tableResultats_length"], input[type="search"],
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: var(--white-color) !important;
}
select[name="tableResultats_length"], input[type="search"] {
    background-color: rgba(0, 0, 0, 0.77) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: rgba(0, 0, 0, 0);
    background: linear-gradient(to top, black 0%, #0a0a0a 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: none;
    border-color: rgba(0, 0, 0, 0);
}

tr.even {
    background-color: #080808 !important;
}
tr.even>.sorting_1, tr.even>.sorting_2{
    background-color: #0a0a0a !important;
}
tr.odd {
    background-color: #101010 !important;
}
tr.odd>.sorting_1, tr.odd>.sorting_2{
    background-color: #121212 !important;
}

/** Footer */
footer{
    width: 100%;
    bottom: 0;
    z-index: 1;
}
.div-footer a > .fab{
    margin: -5px 5px 5px 5px;
    transition: all .5s;
}
.div-footer a > .fab:hover{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.container{
    flex: 1 0 auto;
}