div.membres{
    text-align: center;
}

div.membre{
    background: linear-gradient(70deg, rgb(77, 77, 77) 50%, var(--primary-color));
    border-radius: 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);

    height: 100px;
    width: 360px;
    margin: 3px;

    display: inline-block;
}

.fam{
    font-size: medium;
    transition: all .5s;
    margin-right: 3px;
}
.fam:hover{
    color: var(--primary-color);
}