div.membres{
    text-align: center;
}

table.membre{
    background: linear-gradient(70deg, rgb(77, 77, 77) 50%, var(--primary-color));
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
    width: 360px;
    height: 110px;
}

.membre td{
    text-align: left;
}
.membre h2{
    white-space: nowrap;
}
.membre td:nth-child(2){
    max-width: 165px;
    min-width: 165px;
    height: 95px;
}

.fa{
    color: lightgrey;
    transition: all .5s;
}
.fa:hover{
    color: var(--primary-color);
}