img.imgProfil{
    margin: 0.7em 0.3em 0 0;
    width: 80px;
}

div.membres{
    text-align: center;
}

table.membre{
    background: linear-gradient(70deg, rgb(77, 77, 77) 50%, rgb(248,126,43));
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.7);
    margin: 5px 0 5px 0;
    width: 380px;
}

.membre td{
    text-align: left;
}
.membre td:nth-child(2){
    max-width: 205px;
    min-width: 165px;
    height: 95px;
}

.fa{
    transition: color 200ms linear;
}
.fa:hover{
    color: rgb(248,126,43);
    
}